body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

input, select, button {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#balance {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

canvas {
    margin-top: 20px;
}

/* Стилі для кнопки очищення */
.clear-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: calc(100% - 20px);
    margin-top: 10px;
    border-radius: 5px;
}

.clear-btn:hover {
    background-color: #e53935;
}

/* Задаємо максимальну висоту списку транзакцій і робимо його прокручуваним */
#transactions-list {
    max-height: 200px;
    overflow-y: auto;
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
}

#transactions-list li {
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

/* Стилі для кнопки вибору валют */
.currency-btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: calc(100% - 20px);
    margin-top: 10px;
    border-radius: 5px;
}

.currency-btn:hover {
    background-color: #1976D2;
}

/* Панель вибору валют (прихована за замовчуванням) */
.currency-panel {
    display: none;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 100px;
    right: 10px;
    width: 200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

/* Стилі для кнопки "Застосувати" */
.apply-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.apply-btn:hover {
    background-color: #45a049;
}
